
DB_PASSWORD=

# 키움증권 Rest API APP Key & Secret
KIWOOM_APP_KEY_A=
KIWOOM_SECRET_A=

KIWOOM_APP_KEY_B=
KIWOOM_SECRET_B=

KIWOOM_APP_KEY_C=
KIWOOM_SECRET_C=

# Telegram Bot
TELEGRAM_BOT_USERNAME=Dufresne
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DEVELOPER_CHAT_ID= # 오류 알림 용도

KRX_ID=
KRX_PW=

# Dashboard screenshot (renderer)
DASHBOARD_USER=
DASHBOARD_PASS=
# CHAT_ID_MAIN = # tobe

### TELEGRAM
# TOKEN
# TOKEN_CRAWL_ALARM=
# TOKEN_TEST=
